[submodule "software/PixelBridge"]
	path = software/PixelBridge
	url = git@github.com:crexodon/PixelBridge.git
[submodule "Software/PixelBridge"]
	path = Software/PixelBridge
	url = git@github.com:crexodon/PixelBridge.git
[submodule "Software/Trinity"]
	path = Software/Trinity
	url = https://github.com/nimartin99/Trinity
